In [4]:
import math

In [5]:
math.trunc(9.5)

9

In [9]:
lst1 = [1,2,3,4,5,6]
print(lst1)
print(lst1.pop())
print(lst1)

[1, 2, 3, 4, 5, 6]
6
[1, 2, 3, 4, 5]

In [10]:
lst1.extend([3,4])

In [11]:
lst1

[1, 2, 3, 4, 5, 3, 4]

In [12]:
lst1.insert(0,'ankush')

In [13]:
lst1

['ankush', 1, 2, 3, 4, 5, 3, 4]

In [ ]:
lst1.p

In [14]:
lst2=[3,4,5,20,5]

In [15]:
lst2[5]

IndexError: list index out of range

In [17]:
# index of '5' present in lst2
lst2.index(5)

2

In [18]:
tup = (1,2)

In [19]:
print(2*tup)

(1, 2, 1, 2)

In [24]:
from functools import reduce
def sum(seq):
    def add(x,y):
        return (x+y)
    return reduce(add,seq,0)
sum(range(3))

3

In [33]:
y  = (i for i in range(3))
print (next(y))
print (next(y))
print (next(y))
print (next(y))

0
1
2

StopIteration:

In [38]:
a=[6,5,4,3]

for a[-1] in a:
    print(a[-1])
    
a[-1]

6
5
4
4

4

In [40]:
def divd(x,y):
    print('%s/%s = %s' %(x,y,x//y))
divd(5.0,2.0)

5.0/2.0 = 2.0

In [48]:
def check():
    list1=[1,2,3,4]
    list2=list1
    list3=list1[:]
    return id(list2)==id(list3),list2==list3
check()


#id(list2)

(False, True)

In [56]:
for i in range(10,50,-1):
    print(i)

In [58]:
class cls(object):
    def __init__(self,id):
        self.id=str(id)
        id='111'
obj = cls(11)
print(obj.id)

11

In [59]:
for i in range(10):
    if i==5:
        break
    else:
        print(i)

0
1
2
3
4

In [60]:
for i in range(10):
    if i==5:
        continue
    else:
        print(i)

0
1
2
3
4
6
7
8
9

In [62]:
list1=[1,2,2,'x','y']
list1.pop(2)
list1.pop(2)
print(list1)

[1, 2, 'y']

In [63]:
lst4 = [i+j for i in 'bed' for j in 'ef']
print(lst4)

['be', 'bf', 'ee', 'ef', 'de', 'df']

In [73]:
a=[ i+j for i in 'bed' for j in 'ef']
a

['be', 'bf', 'ee', 'ef', 'de', 'df']

In [75]:
lst22 = [1,2,3,4,5,6,7,8,9,10]

In [77]:
new_lst22=lst22[::-1]

In [78]:
for j in [1,2,3,4][::-1]:
    print(j)

4
3
2
1

In [80]:
# Tuples are immutable objects
t=(1,2,3,4)
t.append(5)
t

AttributeError: 'tuple' object has no attribute 'append'

In [82]:
def test():
    try:
        print(0)
    finally:
        print(1)
test()

0
1

In [85]:

def foo():
    total = 0
    total+=1
    return total

print(foo())

1

In [87]:
def foo1(i,x=[]):
    x.append(i)
    return x
for i in range(2):
    print(foo1(i))

[0]
[0, 1]

In [141]:
# Fibonacci series
a=0
b=1
w=[0,1]
print(a)
print(b)
for i in range(2,6):
    c=a+b
    print(c)
    w.append(c)
    #print("c is {}".format(c))
    a=b
    #print("a is {}".format(a))
    b=c
    #print("b is {}".format(b))

0
1
1
2
3
5

In [142]:
w

[0, 1, 1, 2, 3, 5]

In [143]:
len(w)

6

In [153]:
import re

In [169]:
# Palindrom funciton
def palindrome(str):
    str_new=re.sub(pattern=' ',repl='',string=str)
    str2=str_new[::-1]

    if str_new==str2:
        return True
    else:
        return False

palindrome(input("Enter string to be checked : "))

Enter string to be checked : ma     dam

True

In [170]:
class count(object):
    def __init__(self,count=0):
        self.__count=count
c1=count(2)
c2=count(2)
print(id(c1)==id(c2))
n1='good'
n2='good'
print(id(n1)==id(n2))

False
True